* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  scroll-behavior: smooth;
}
.app {
  width: 100%;
  background-color: #05161a;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* box-sizing: border-box; */
}
.first-view {
  height: 100vh;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .skills {
    margin: 3rem;
  }
}
