.container {
  width: 100vw;
  height: 5rem;
  display: none;
  font-size: 18px;
  font-family: sans-serif;
  justify-content: center;
  flex-wrap: wrap;
  transition: all ease-in-out 0.3s;
  /* margin-bottom: 2rem; */
}
.items{
  margin: 1.5rem 1rem 1rem 1rem ;
  color: #0f969c;
  cursor: pointer;
  transition: all 0.2s;
}
.items:hover{
  text-decoration: underline ;
}
.mobilecontainer {
  display: flex;
  flex-direction: column;
}
.item {
  color: #0f969c;
  margin: 1rem;
  cursor: pointer;
}
.pcontainer {
  display: inherit;
}
.menu {
  color: #0f969c;
  font-size: x-large;
  cursor: pointer;
  margin: 0rem 1rem 0rem 1rem;
}
.menuimg {
  margin: 1rem 0rem 0rem 0rem;
}

@media only screen and (min-width: 768px) {
  .container {
    display: flex;
  }
  .pcontainer {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .line{
    display: none;
  }
}
